:root {
  --max-width: 1170px;
  --primary-ff: "Open Sans", sans-serif;
  --dark-clr: #333;
  --grey-clr: #a6a6a6;
}
/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* CUSTOM STYLE */
.page-center {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .page-center {
    padding: 3rem 2rem;
  }
}
